/*
:root{ --uc-navbar-transform: -40px }

:root[uidensity="compact"]{ --uc-navbar-transform: -34px }

#navigator-toolbox > div{ display: contents; }
:root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: translateY(var(--uc-navbar-transform))
}

:root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]){
  opacity: 0;
  transition:  transform 150ms ease 1s, opacity 150ms ease 1s !important;
  position: relative;
  z-index: 2;
}

#TabsToolbar{ position: relative; z-index: 3 }

#navigator-toolbox:focus-within > .browser-toolbar{
  transform: none;
  opacity: 1;
  transition-duration: 250ms, 100ms !important;
  transition-delay: 0s !important;
}

#titlebar:hover ~ .browser-toolbar,
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 250ms, 100ms !important;
  transition-delay: 0s !important;
}

#nav-bar{
padding-top: 1px;
}

#urlbar, #searchbar {
    font-size: 1.15em;
	text-align: center;
    --urlbar-toolbar-height: 31px !important;
	color: #FFC0CB !important;
}

#PersonalToolbar{ transition: transform 200ms ease 1s !important; position: relative; z-index: 1 }

:root[sessionrestored]:not([inFullscreen]) > body > #browser{ margin-top: var(--uc-navbar-transform); }

.urlbarView-row-inner,
.urlbarView-no-wrap{ justify-content: center !important; }
.urlbarView-url{ flex-grow: 0 !important; }

*/

/* Selection text
   Check if window is in focus
   Remove icons when user is typing in address bar
   animation?

 */

:root {
	--firefox-grey: #1c1b22;
	--focused-color-theme: #fff;
  --focused-color-dark: black;
    --focused-color-contrast: black;
}



#urlbar, #searchbar {
    font-size: 1.15em;
	text-align: center;
	 color: var(--focused-color-theme) !important;
  transition: color 2s ease-out;

}

/* Url bar outline when searching */
#urlbar[open] > #urlbar-background {
	border:none !important;
  box-shadow: none !important;
}

/*hides buttons on focus*/
#nav-bar-customization-target:focus-within > toolbarspring, #urlbar-container:focus-within ~ toolbarbutton{
	display: none;
}

/*on hover max urlbar smaller */
#nav-bar-customization-target:hover  > toolbarspring, #nav-bar-customization-target:hover  > toolbarbutton{
	
}

#nav-bar-customization-target:focus-within > toolbarbutton, #nav-bar-customization-target:focus-within > toolbaritem > toolbarbutton{
	fill: var(--focused-color-contrast) !important;
}


/*Bookmark bar inverse */
#navigator-toolbox:focus-within > #PersonalToolbar > toolbarbutton > label, #navigator-toolbox:focus-within > #PersonalToolbar > toolbaritem > hbox > scrollbox > toolbarbutton > label{
	color: black !important;
}


#urlbar:focus-within {
	font-size: 1.15em;
	--urlbar-toolbar-height: 40px !important;
	color: var(--focused-color-dark) !important;
}

/*shouldnt turn black on close*/
#navigator-toolbox:focus-within{
	background-color: var(--focused-color-theme) !important;
}

/*area behind tabs active*/
.browser-toolbar{
    background-color: inherit !important;

}

.tab-content{
	background-color:  inherit !important;
}

.tabbrowser-tab:is([selected], [multiselected]):-moz-lwtheme {
    color:black;
}

* {
	--focus-outline-color: transparent !important;
}

/*  focused address bad selection */
#urlbar:is([focused="true"], [open]):-moz-lwtheme > #urlbar-background,
#searchbar:focus-within:-moz-lwtheme {
	background-color: var(--focused-color-theme) !important; 
}

/*  area behind tabs */
#navigator-toolbox:-moz-window-inactive:-moz-lwtheme {
    background-color: inherit;
}

/* New tab button */
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon, #TabsToolbar .toolbarbutton-1 > .toolbarbutton-text, #TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  fill: pink;
}

#urlbar-background, #searchbar {
  background-color: var(--firefox-grey) !important;
}

/*urlbar box shadow*/
#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  box-shadow: none !important;
}

/*
 * LightweightThemeConsumer will set the current lightweight theme's header
 * image to the lwt-header-image variable, used in each of the following rulesets.
 */
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected=true]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected=true]:-moz-lwtheme {
  background-attachment: scroll, scroll, fixed;
  background-color: transparent;
  background-image: none !important;
  background-position: 0 0, 0 0, right top;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 100%, auto 100%, auto auto;
}

/*shadows around tabs*/
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow:none !important;
}

/*Mouse hovering over tab color*/
.tabbrowser-tab:hover > .tab-stack > .tab-background,.tabbrowser-tab:hover > stack > hbox >vbox {
  background-color: white !important;
  color: black !important;
}

/*Nav bar transition*/
:root[sessionrestored] #nav-bar:-moz-lwtheme {

}

/*Line seperator between search results and address bar*/
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: none !important;
}



:root[sessionrestored] #nav-bar:-moz-lwtheme {
  transition: none !important;
}

/*tab Text change when urlbar is focused*/
#navigator-toolbox-background:focus-within > toolbox >vbox > #TabsToolbar > .toolbar-items > hbox > tabs > arrowscrollbox > tab > stack > hbox > vbox{
  color: red;
}

/*hamburger icons will change color */
#navigator-toolbox-background:focus-within > toolbox >toolbar > toolbaritem > toolbarbutton > stack >image{
	fill:black !important;
}

.urlbarView-url {
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
}

.urlbarView-row-inner, .urlbarView-no-wrap {
  justify-content: center !important;
}