/* Selection text
   Check if window is in focus
   Remove icons when user is typing in address bar
   animation?

 */
/* Navigation Bar animation (u/Smogchalk)



:root{ --uc-navbar-transform: -40px }
:root[uidensity="compact"]{ --uc-navbar-transform: -34px }

#navigator-toolbox > div{ display: contents; }
:root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: translateY(var(--uc-navbar-transform))
}
:root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]){
  opacity: 0;
  transition:  transform 150ms ease 1s, opacity 150ms ease 1s !important;
  position: relative;
  z-index: 2;
}
#TabsToolbar{ position: relative; z-index: 3 }


*/

:root {
	--firefox-grey: #1c1b22;
	--focused-color-theme: #fff;
}
#urlbar, #searchbar {
    font-size: 1.15em;
	text-align: center;
    --urlbar-toolbar-height: 31px !important;
	 color: #FFC0CB !important;
  transition: color 2s ease-out;

}
/* Url bar outline when searching */
#urlbar[open] > #urlbar-background {
	border:none !important;

  box-shadow: none !important;
}
#urlbar:focus-within {
    font-size: 1.15em;
	text-align: center;
    --urlbar-toolbar-height: 31px !important;
	 color: #ff887f !important;
	


}
/*shouldnt turn black on close*/
#navigator-toolbox:focus-within{
	background-color: var(--focused-color-theme) !important;
}

/*area behind tabs active*/
.browser-toolbar{
    background-color: inherit !important;

}
.tab-content{
	background-color:  inherit !important;
}

.tabbrowser-tab:is([selected], [multiselected]):-moz-lwtheme {
  color:black;
}

* {

	 --focus-outline-color: transparent !important;
}
/*  focused address bad selection */
#urlbar:is([focused="true"], [open]):-moz-lwtheme > #urlbar-background,
#searchbar:focus-within:-moz-lwtheme {
 background-color: var(--focused-color-theme) !important; 
}



/*  area behind tabs */
#navigator-toolbox:-moz-window-inactive:-moz-lwtheme {
    background-color: inherit;
}


/* New tab button */
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon, #TabsToolbar .toolbarbutton-1 > .toolbarbutton-text, #TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {

  fill: pink;
}

#urlbar-background, #searchbar {
  background-color: var(--firefox-grey) !important;


}

/*urlbar box shadow*/
#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  box-shadow: none !important;
}

/*
 * LightweightThemeConsumer will set the current lightweight theme's header
 * image to the lwt-header-image variable, used in each of the following rulesets.
 */
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected=true]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected=true]:-moz-lwtheme {
  background-attachment: scroll, scroll, fixed;
  background-color: transparent;
  background-image: none !important;
  background-position: 0 0, 0 0, right top;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 100%, auto 100%, auto auto;
}
/*shadows around tabs*/
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow:none !important;
}
/*Mouse hovering over tab color*/
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true], [multiselected]) {
  background-color: pink !important;
}
