/*
:root{ --uc-navbar-transform: -40px }

:root[uidensity="compact"]{ --uc-navbar-transform: -34px }

#navigator-toolbox > div{ display: contents; }
:root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: translateY(var(--uc-navbar-transform))
}

:root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]){
  opacity: 0;
  transition:  transform 150ms ease 1s, opacity 150ms ease 1s !important;
  position: relative;
  z-index: 2;
}

#TabsToolbar{ position: relative; z-index: 3 }

#navigator-toolbox:focus-within > .browser-toolbar{
  transform: none;
  opacity: 1;
  transition-duration: 250ms, 100ms !important;
  transition-delay: 0s !important;
}

#titlebar:hover ~ .browser-toolbar,
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 250ms, 100ms !important;
  transition-delay: 0s !important;
}

#nav-bar{
padding-top: 1px;
}

#urlbar, #searchbar {
    font-size: 1.15em;
	text-align: center;
    --urlbar-toolbar-height: 31px !important;
	color: #FFC0CB !important;
}

#PersonalToolbar{ transition: transform 200ms ease 1s !important; position: relative; z-index: 1 }

:root[sessionrestored]:not([inFullscreen]) > body > #browser{ margin-top: var(--uc-navbar-transform); }

.urlbarView-row-inner,
.urlbarView-no-wrap{ justify-content: center !important; }
.urlbarView-url{ flex-grow: 0 !important; }

*/

/* Selection text
   Check if window is in focus
   Remove icons when user is typing in address bar
   animation?

 */

:root {
	--firefox-grey: #48455e;
	--focused-color-theme: #fff;
    --focused-color-contrast: black;
	--focus-outline-color: transparent !important;
}

:root[sessionrestored] #nav-bar:-moz-lwtheme {
	transition: none !important;
}

#urlbar, #searchbar {
    font-size: 1.15em;
	text-align: center;
    color: var(--focused-color-theme) !important;
    transition: color .4s ease-out;
}

/* Url bar outline when searching */
#urlbar[open] > #urlbar-background {
	border: none !important;
    box-shadow: none !important;
}

/* Focused: hides seperators on focus*/
#nav-bar-customization-target:focus-within:hover > toolbarspring{
	transition: max-width 0.2s ease;
	max-width: 0px !important;
}

#nav-bar-customization-target > toolbarspring{
	transition: max-width 0.2s ease;
	max-width: 160px !important;
}

#nav-bar-customization-target:focus-within > toolbarbutton, #nav-bar-customization-target:focus-within > toolbaritem > toolbarbutton{
	fill: var(--firefox-grey) !important;
}

/* Focused: Bookmark bar text inverse */
#navigator-toolbox:focus-within > #PersonalToolbar > toolbarbutton > label, #navigator-toolbox:focus-within > #PersonalToolbar > toolbaritem > hbox > scrollbox > toolbarbutton > label{
	color: black !important;
}

/*Search result fade in */
#urlbar{
	transition: opacity .5s ease;
	opacity: 50%;
}

#urlbar:focus-within {
	color: var(--firefox-grey) !important;
	transition: opacity .4s ease;
    opacity: 100%;
}

/*Browser navigation box*/
#navigator-toolbox:focus-within{
	transition: background-color .4s;
    background-color: var(--focused-color-theme) !important;
}

#navigator-toolbox, .tab-content, #urlbar-background, #searchbar{
	transition: background-color .4s;
	background-color: var(--firefox-grey) !important;
}

/* URL Bar */

#urlbar-input {
	opacity: 100%;
}

/*urlbar box shadow*/
#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
	box-shadow: none !important;
}

/*  focused address bad selection */
#urlbar:is([focused="true"], [open]) > #urlbar-background,
#searchbar:focus-within{
	background-color: transparent !important; 
}

/*Line seperator between search results and address bar*/
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
	border-top: none !important;
}

/* Url bar text color */
.urlbarView-url {
	color: #004953 !important;
	max-width: 50%;
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected] {
  background-color: var(--firefox-grey) !important;
  color: var(--focused-color-theme) !important;
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner > .urlbarView-url{
	color: white !important;
}

/* Tabs */

.browser-toolbar, .tab-content{
    background-color: transparent !important;
}

.tabbrowser-tab:is([selected], [multiselected]):-moz-lwtheme {
    color: black;
}


/* Selected tab background */
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected=true]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected=true]:-moz-lwtheme {
	background-image: none !important;
}

/* shadows around tabs*/
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
	box-shadow: none !important;
}

/* Mouse hovering over tab color*/
.tabbrowser-tab:hover > .tab-stack > .tab-background, #navigator-toolbox-background:focus-within #navigator-toolbox:focus-within #titlebar #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab .tab-stack .tab-background{
	transition: background-color .4s;
	background-color: var(--focused-color-theme) !important;

}

.tabbrowser-tab > .tab-stack > .tab-background,#navigator-toolbox-background:focus-within #navigator-toolbox:focus-within #titlebar #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab .tab-stack:hover .tab-background{
	transition: background-color .4s;
	background-color: var(--firefox-grey) !important;

}
.tabbrowser-tab:hover > stack > hbox >vbox, #navigator-toolbox-background:focus-within #navigator-toolbox:focus-within #titlebar #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab .tab-stack .tab-content .tab-label-container {
	transition: color .4s;
    color: black !important;
}

.tabbrowser-tab > stack > hbox >vbox, #navigator-toolbox-background:focus-within #navigator-toolbox:focus-within #titlebar #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab .tab-stack .tab-content:hover .tab-label-container{
	transition: color .4s;
    color: var(--focused-color-theme) !important;
}

/* tab Text change when urlbar is focused*/
#navigator-toolbox-background:focus-within > toolbox >vbox > #TabsToolbar > .toolbar-items > hbox > tabs > arrowscrollbox > tab > stack > hbox > vbox{
	color: var(--firefox-grey);
}

/* hamburger icons will change color */
#navigator-toolbox-background:focus-within > toolbox >toolbar > toolbaritem > toolbarbutton > stack >image{
	fill: black !important;
}

/* URL bar center aligned text */
.urlbarView-url {
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
}

.urlbarView-row-inner, .urlbarView-no-wrap {
	justify-content: center !important;
}

/* Tab Icons */	

/* Focused: Tab close button */
#navigator-toolbox-background:focus-within toolbox vbox #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab stack hbox image{
	fill: black !important;
}

/* Tab close icon hover */
.tabbrowser-tab:hover > stack > hbox > .tab-close-button {
	transition: color .4s;
	color: black !important;
}

/* Close tab icon */
.tab-close-button{
	transition: color .4s;
	transition: background .4s !important;
	color: var(--focused-color-theme) !important;
}

.tab-close-button:hover{
	background: var(--firefox-grey) !important;
	fill: white !important;
}


/* New tab icon */
#tabs-newtab-button .toolbarbutton-icon{
	fill: var(--focused-color-theme) !important;
}

#navigator-toolbox-background:focus-within toolbox vbox #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab stack hbox .tab-close-button:hover{
  background: var(--focused-color-theme) !important;
  fill:  var(--firefox-grey) !important;
}

#navigator-toolbox-background:focus-within toolbox vbox #TabsToolbar .toolbar-items hbox tabs arrowscrollbox tab stack:hover hbox image{
	fill: var(--focused-color-theme) !important;
}

#navigator-toolbox-background:focus-within toolbox vbox #TabsToolbar .toolbar-items hbox tabs arrowscrollbox #tabs-newtab-button .toolbarbutton-icon{
	fill: var(--firefox-grey) !important;
}

#nav-bar:focus-within hbox #urlbar-container .urlbarView{
	transition: background-color .4s;
	background-color: var(--focused-color-theme);
	transition: opacity .4s ;
	opacity: 100%; 
}

/* Focused: Bookmark text color inverse */
#navigator-toolbox-background:focus-within > toolbox > #PersonalToolbar > toolbaritem > hbox > hbox > scrollbox > toolbarbutton > label{
	color: black !important;
}


/*Transition close icon animation issue fix */
.tabbrowser-tab:not([labelendaligned], :hover) > .tab-stack > .tab-content > .tab-close-button {
  padding-inline-start: 7px !important;
  width: 24px !important;
}